<div id="DislikePluginPagelet" style='margin-top: 5px;'>
  <div id="connect_widget" class="connect_widget button_count" style="">
    <div>
      <div class="connect_widget_number_cloud" style="width: 47px; visibility: visible; height: 24px; ">
        <table class="uiGrid connect_widget_number_cloud_summary" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <div class="thumbs_up_icon"></div>
              </td>
              <td>
                <span id='counter' style='font-family: "tahoma", sans-serif;'>
                  <span class="connect_widget_connected_text"><%= @count %></span>
                  <span style='display: none;' class="connect_widget_not_connected_text">
                    <% if @user_voted %>
                      <%= @count - 1 %>
                    <% else %>
                      <%= @count + 1 %>
                    <% end %>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="connect_widget_number_cloud_nub" style="">
          <s></s>
          <i></i>
        </div>
        <div id='you_dislike_this' class="connect_widget_number_cloud_extension hidden_elem" style='display: none;'>
          <div class="connect_widget_number_cloud_extension_text">
            <table class="uiGrid" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <span class="unlike_span">
                      <a class="connect_widget_unlike_link">Undislike</a>
                    </span>
                  </td>
                  <td>
                    <span style='display: none;' class="like_reminder">You dislike this.</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="connect_widget_connect_button" style="margin-top: 8px">
        <a id='dislike_button' class="connect_widget_like_button clearfix <% if @user_voted %>like_button_like<% else %>like_button_no_like<% end %>" style="">
          <div class="tombstone_cross"></div>
          <span class="liketext">Disike</span>
        </a>
        <span style='display: none;' class="connect_widget_confirm_span hidden_elem">
          <a class="connect_widget_confirm_link">Confirm</a>
        </span>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  function login_if_not_yet() {
    var args = arguments
    FB.getLoginStatus(function(response) {
      var cb = function() {
        var data = {}
        $.extend(data, response.session)
        delete data['__proto__']
        if (typeof(args[0]) == 'function') args[0].call(document, data)
      }
      if (response.session) {
        cb()
      } else {
        FB.login(function(res) {
          cb()
        })
      }
    })
  }
  
  function renew_counter() {
    var spans = $('#counter').children('span'),
    visibles = spans.filter(':visible'),
    invisibles = spans.filter(':hidden')
    visibles.hide()
    invisibles.show()
  }
  
  function increment(ses_data) {
    renew_counter()
    $('#dislike_button').removeClass('like_button_no_like').addClass('like_button_like')
    var data = {}
    $.extend(data, ses_data, {
      href: '<%= @href %>',
      hash: '<%= @hash %>'
    })
    $.post(
      '<%= @current_url %>',
      data,
      function(res) {}
    )
  }

  function decrement(ses_data) {
    renew_counter()
    $('#dislike_button').addClass('like_button_no_like').removeClass('like_button_like')
    var data = {}
    $.extend(data, ses_data, {
      href: '<%= @href %>',
      hash: '<%= @hash %>'
    })
    $.ajax({
      type: 'DELETE',
      data: data,
      url: '<%= @current_url %>',
      success: function(res) {}
    })
  }

</script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.connect_widget_like_button').click(function(e) {
      var is_liked = $(this).filter('.like_button_like').length > 0,
      tombstone_clicked = $(e.target).filter('.tombstone_cross').length > 0,
      cb = is_liked? decrement : increment
      if (is_liked && !tombstone_clicked) return
      login_if_not_yet(cb)
    })
  })
</script>
