<script type="text/javascript" charset="utf-8" src='/js/jq.js'></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<div id="fb-root"></div>
<script>
  FB.init({ 
    appId: '<%= @app_id %>',
    cookie: true,
    status: true,
    xfbml: true 
  });
</script>

<div id="DislikePluginPagelet">
  <div id="connect_widget" class="connect_widget button_count" style="">
    <div>
      <div class="connect_widget_number_cloud" style="width: 47px; visibility: visible; height: 24px; ">
        <table class="uiGrid connect_widget_number_cloud_summary" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <div class="thumbs_up_icon"></div>
              </td>
              <td>
                <span>
                  <span class="connect_widget_connected_text"><%= @count %></span>
                  <span style='display: none;' class="connect_widget_not_connected_text"><%= @count + 1 %></span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="connect_widget_number_cloud_nub" style="">
          <s></s>
          <i></i>
        </div>
        <div <% if !@user_voted %>style='display: none;'<% end %> class="connect_widget_number_cloud_extension hidden_elem">
          <div class="connect_widget_number_cloud_extension_text">
            <table class="uiGrid" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <span class="unlike_span hidden_elem">
                      <a class="connect_widget_unlike_link">Undislike</a>
                    </span>
                  </td>
                  <td>
                    <span style='display: none;' class="like_reminder">You dislike this.</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div <% if @user_voted %>style='display: none;'<% end %> class="connect_widget_connect_button" style="margin-top: 8px">
        <a class="connect_widget_like_button clearfix like_button_no_like" style="">
          <div class="tombstone_cross"></div>
          <span class="liketext">Disike</span>
        </a>
        <span style='display: none;' class="connect_widget_confirm_span hidden_elem">
          <a class="connect_widget_confirm_link">Confirm</a>
        </span>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  function login_if_not_yet() {
    FB.getLoginStatus(function(response) {
      if (response.session) {
        var data = {}
        $.extend(data, response.session)
        delete data['__proto__']
        increment(data)
      } else {
        FB.login(function(res) {
          console.log(res)
        })
      }
    })
  }
  
  function increment(ses_data) {
    var data = {}
    $.extend(data, ses_data, {
      href: '<%= @href %>',
      hash: '<%= @hash %>'
    })
    $.post(
      '<%= @current_url %>',
      data,
      function(res) {
        
      }
    )
  }
</script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.connect_widget_like_button').click(function() {
      login_if_not_yet()
    })
  })
</script>